{{#.}}
    <tr>
       <td>{{StageScenceDiffcult_id}}</td>
       <td><a class="btn" href="/StageIndex/{{StageScenceDiffcult_id}}/">{{StageScenceDiffcult_Text}}</a></td>
       <td>{{StageScenceDiffcult_Key}}</td>
       <td>{{StageScence_Count}}</td>
       <td>{{StageScenceDiffcult_ModiflyTime}}</td>
       <td>
       		<a class="btn" href="/StageIndex/{{StageScenceDiffcult_id}}/">查看列表</a>
       		<a class="btn" href="/AddStageScence/{{StageScenceDiffcult_id}}/">新增</a>
       </td>
    </tr>
{{/.}}